body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ---------- HEADER ---------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}


/* Меню */

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}


/* Только ссылки меню */
header > .menu a {
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: black;
}


header > .menu a:hover {
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

/* ---------- КНОПКА СВЯЗАТЬСЯ ---------- */

.btn {
  position: relative;
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: #4824ff;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}


.btn:hover {
  filter: drop-shadow(0px 0px 35px #4824ff);
}


.btn::before {
  content: '';
  position: absolute;
  height: 300px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}


.btn:hover::before {
  transform: rotate(-20deg) translateX(200px) translateY(-200px);
}



/* ---------- ИКОНКА TELEGRAM В HEADER ---------- */

.icon.telegram img {
    width: 55px;
    height: 55px;
    display: block;
    background: white;
}